<p class="h4 text-center mb-4">Editing Patient</p>
<%= render 'form', patient: @patient %>
<%= link_to '<- Back', patients_path, class:"btn btn-default" %>
<%= link_to 'Show', @patient, class:"btn btn-brown" %>
