<p class="h4 text-center mb-4">Editing Patient</p>
<%= render 'form', patient: @patient %>
<%= link_to '<- Back', patients_path, class:"btn btn-primary btn-unique waves-effect waves-light" %>
<%= link_to 'Show', @patient, class:"btn btn-brown btn-unique waves-effect waves-light" %> |
